<table class='table is-bordered is-striped is-hoverable is-fullwidth'>
    <% users.forEach( function(user){ %>
        <tr>
            <td>
                <%= user.email %></td>
            <td>
                <%= user.username %></td>
            <td><a class="button" href="http://localhost:1337/changePW/<%= user.id %>">Change Password</button></td>
        </tr>






        <% }); %>



</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="button" id="previousButton" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page" id="previousLink">1</a></li>
        <li class="page-item"><a class="page" id="currentLink">2</a></li>
        <li class="page-item"><a class="page" id="nextLink">3</a></li>
        <li class="page-item">
            <a class="button" id="nextButton" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<script>
    function setPagination(limit, offset, count) {
        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");

        var numOfRecords = count;

        // previousButton.onclick = function () { fetchPage(limit, (offset - limit)) };
        // previousLink.onclick = function () { fetchPage(limit, (offset - limit)) };
        // currentLink.onclick = function () { fetchPage(limit, offset) };
        // nextLink.onclick = function () { fetchPage(limit, (offset + limit)) };
        // nextButton.onclick = function () { fetchPage(limit, (offset + limit)) };

        var numOfRecords = parseint("<%= numOfRecords %>");
        var limit = math.max(parseInt("<%= req.query.limt %>"), 2) || 2;
        var offset = Math.max(parseInt("<%= req.query.offset %>"), 0) || 0;

        var baseUrl = "/admin/searchuser?limit=" + limit + "&offset=";

        previousButton.href = baseUrl + (offset - limit);
        previousLink.herf = baseUrl + (offset - limit);
        currentLink.href = baseUrl + offset;
        nextLink.href = baseUrl + (offset + limit);
        nextButton.href = haseUrl + (offset + limit);

        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;

        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = math.ceil(numOfRecords / limit);

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }
        // else {
        //     previousButton.removeAttribute("disabled", false);
        //     previousLink.style.display = "block";
        // }
        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }
        // else {
        //     nextButton.removeAttribute("disabled", false);
        //     nextLink.style.display = "block";
        // }
    }
    setPagination();
</script>