<div class="container">
    <div class="column">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <div class="column">
                <tr>
                    <th>CV title</th>
                    <th></th>
                    <th> </th>
                    <th> </th>
                </tr>
                <% cvs.forEach( function(cv) { %>
                    <tr>
                        <td>
                            <a href="http://localhost:1337/<%= user.id %>/cv/<%= cv.title %>"> </a>
                            <%= cv.title %>
                        </td>
                        <td>

                        </td>

                        <td><a class="button" href="http://localhost:1337/cv/<%= cv.id %>/content">Update</button></td>
                        <td><a class="button" href="http://localhost:1337/cv/<%= cv.id %>/content">View</button></td>
                        <td>
                            <!-- <a class="button" href="http://localhost:1337/cv/<%= cv.id %>/delete/"
                               >Delete</button> -->
                            <a class="button" href="http://localhost:1337/cv/<%= cv.id %>/delete/"
                                onclick="myFunction()">Delete</button>
                        </td>
                    </tr>
                    <% }); %>
            </div>




        </table>
    </div>
</div>
<script>
    function myFunction() {
        if (confirm("Delete if?") == true) {
            alert("Delete successfully.");
        } else {
            alert("Action canceled");
        }

    }
</script>