<div class="container">
    <div class="column">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
            <div class="column">
                <tr>
                    <th>CV title</th>
                    <th>Update</th>
                    <th>View</th>
                    <th>Delete</th>
                    <th>Status</th>
                </tr>
                <% cvs.forEach( function(cv) { %>
                    <tr>
                        <td>
                            <a href="http://localhost:1337/<%= user.id %>/cv/<%= cv.title %>"> </a>
                            <%= cv.title %>
                        </td>

                        <td><a class="button" href="http://localhost:1337/cv/content/<%= cv.id %>">Update</button></td>
                        <td><a class="button" href="http://localhost:1337/cv/view/<%= cv.id %>">View</button></td>
                        <td>
                            <!-- <a class="button" href="http://localhost:1337/cv/<%= cv.id %>/delete/"
                               >Delete</button> -->
                            <button class="button" href=""
                                onclick="if (confirm('Delete it?')) { location.assign('http://localhost:1337/cv/delete/<%= cv.id %>'); }">Delete</button>
                        </td>
                        <td> <a class="button" href="http://localhost:1337/cv/changeStatus/<%= cv.id %>">
                            <%= cv.status %></button></td>
                    </tr>
                    <% }); %>
            </div>




        </table>
    </div>
</div>
<script>
    function myFunction() {
        if (confirm("Delete it?") == true) {
            alert("Delete successfully.");
        } else {
            alert("Action canceled");
        }

    }
</script>