<link rel="stylesheet" href="/css/white.css" />

<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="header">
        <div class="full-name">
            <span class="first-name">
                <%= cv.name%>
            </span>

        </div>
        <div class="contact-info">
            <span class="email">Email: </span>
            <span class="email-val">
                <%= cv.email%>
            </span>
            <span class="separator"></span>
            <span class="phone">Phone: </span>
            <span class="phone-val">
                <%= cv.mobile%>
            </span>
        </div>

        <div class="about">

            <span class="desc">
                <%= cv.ps%>
            </span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section__title">Education</div>
            <div class="section__list">
                <% (edus || []).forEach( function(edu) { %>
                    <div class="section__list-item">
                        <div class="left">
                            <div class="name">
                                <%= edu.school %>, <%= edu.major %>
                            </div>
                            <div class="desc">
                                <%= edu.description %>
                            </div>

                        </div>
                        <div class="right">
                            <div class="duration">
                                <%= edu.sTime %> - <%= edu.eTime %>
                            </div>


                        </div>
                    </div>

                    <% }); %>
            </div>

        </div>
        <div class="section">
            <div class="section__title"> Work Experience</div>
            <div class="section__list">
                <% (works || []).forEach( function(work) { %>
                    <div class="section__list-item">
                        <div class="left">
                            <div class="name">
                                <%= work.org %>
                            </div>
                            <div class="duration">
                                <%= work.sTime %> - <%= work.eTime %>
                            </div>
                            <div class="desc">
                                <%= work.description %>
                            </div>
                        </div>
                        <div class="right">
                            <div class="name">
                                <%= work.position %>
                            </div>

                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <div class="section">
            <div class="section__title">Activity</div>
            <div class="section__list">
                <% (activities || []).forEach( function(activity) { %>
                    <div class="section__list-item">
                        <div class="name">
                            <%= activity.title %> <span class="text-muted h6">at <%= activity.org %>
                                </span>
                                <div class="duration">
                                    <%= activity.sTime %> - <%= activity.eTime %>
                                </div>
                        </div>
                        <div class="text">
                            <%= activity.description %>
                        </div>
                    </div>

                    <% }); %>
            </div>
        </div>
        <div class="section">
            <div class="section__title">Skills</div>
            <div class="skills">
                <% (skills || []).forEach( function(skill) { %>
                    <div class="skills__item">
                        <div class="name"><span class="fw-bolder">
                                <%= skill.content %>
                            </span>
                            <span>( <%=skill.level %> )</span>

                        </div>
                    </div>
                    <% }); %>
            </div>

        </div>

    </div>
    <div class="section">
        <div class="section__title">
            Reference
        </div>
        <div class="section__list">
            <% (refs || []).forEach( function(ref) { %>
                <div class="left">
                    <div class="name">
                        <%=ref.name %>
                    </div>
                    <div class="desc">
                        <%=ref.comment %>
                    </div>
                </div>
                <div class="right">
                    <div class="name">
                        <%=ref.relationship %>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</div>
<div class="column">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <a class="button" href="/cv/downloadFile/<%= cv.id %>/0"> Download File</a>
    
            <button onclick="window.print();">Download cv <i class="fa fa-download"></i></button>
        </div>
    </div>
</div>