<!--CreateCVContent.ejs-->

<link rel="stylesheet" href="/styles/createCV.css" />
<div class="container">
    <div class="columns is-1-mobile">
        <div class="column">

            <div id="p2">Step</div>
            <div class='progress'>
                <div class='progress_inner__tabs'>
                    <div class='tab tab-0'>
                        <h1>Contact</h1>

                        <form action="/cv/content/<%= cv.id%>" method="post">

                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" name="name" id="name" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Mobile Number</label>
                                <div class="control">
                                    <input class="input" type="text" name="mobile" id="mobile" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email address</label>
                                <div class="control">
                                    <input class="input" type="email" name="email" id="email" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit">Save</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class='tab tab-1'>
                        <h1>Education</h1>
                        <form action="/cv/content/<%= cv.id%>" method="post">
                            <div class="field">
                                <label class="label">School</label>
                                <div class="control">
                                    <input class="input" type="text" name="school" id="school" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Start Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="sTime" id="sTime" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">End Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="eTime" id="eTime" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Please describe the activity"
                                        type="text" name="description" rows="5" required></textarea>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit" onclick="updateEdu('<%= cv.id %>')">Save</button>
                                </div>
                            </div>
                            <div class="button">

                                <button class="button is-link" href="">Create new</button>
                            </div>
                        </form>
                    </div>


                    <div class='tab tab-2'>
                        <h1>Project Experience</h1>
                        <form action="/cv/content/<%= cv.id%>" method="post">

                            <div class="field">
                                <label class="label">Title</label>
                                <div class="control">
                                    <input class="input" type="text" name="title" id="title" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Organization</label>
                                <div class="control">
                                    <input class="input" type="text" name="org" id="org">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Start Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="sTime" id="sTime" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">End Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="eTime" id="eTime">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Please describe the activity"
                                        type="text" name="description" rows="5" required></textarea>

                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit">Save</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class='tab tab-3'>
                        <h1>Work Experience</h1>
                        <form action="/cv/<%= cv.id%>/addExperience" method="post">

                            <div class="field">
                                <label class="label">Organization</label>
                                <div class="control">
                                    <input class="input" type="text" name="org" id="org">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Position</label>
                                <div class="control">
                                    <input class="input" type="text" name="position" id="position" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Start Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="sTime" id="sTime" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">End Time</label>
                                <div class="control">
                                    <input class="input" type="date" name="eTime" id="eTime">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Please describe the activity"
                                        type="text" name="description" rows="5" required></textarea>

                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit">Save</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class='tab tab-4'>
                        <h1>Skills</h1>
                        <form action="/cv/<%= cv.id%>/addSkill" method="post">

                            <div class="field">
                                <label class="label">Content</label>
                                <div class="control">
                                    <input class="input" type="text" name="content" id="content">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Position</label>
                                <div class="control">
                                    <input class="input" type="text" name="level" id="level">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link" type="submit">Save</button>
                                </div>
                            </div>
                            <div class="button">

                                <button class="button is-link" href="">Create new</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class='progress_inner__status'>
                    <div class='box_base'></div>
                    <div class='box_lid'></div>
                    <div class='box_ribbon'></div>
                    <div class='box_bow'>
                        <div class='box_bow__left'></div>
                        <div class='box_bow__right'></div>
                    </div>
                    <div class='box_item'></div>
                    <div class='box_tag'></div>
                    <div class='box_string'></div>
                </div>
            </div>
        </div>


    </div>

</div>