<div class="container">
    <h2>Add content of each section</h2>
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">

        <tr>
            <td><a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addContact"
                    class="btn btn-outline-info">Contact</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addEdu"
                    class="btn btn-outline-info">Education</a></td>
            <td><a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addEdu" class="btn btn-outline-warning">
                    Add Education</a></td>
            </td>
        </tr>
        <tr>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addWork"
                    class="btn btn-outline-info">Work</a></td>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addWork"
                    class="btn btn-outline-warning">Add Work</a></td>
        </tr>
        <tr>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addSkill"
                    class="btn btn-outline-info">Skill</a></td>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addSkill"
                    class="btn btn-outline-warning">Add Skill</a></td>
        </tr>
        <tr>
            <td><a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addActivity"
                    class="btn btn-outline-info">Activity</a></td>
            <td><a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addActivity"
                    class="btn btn-outline-warning">Add Activity</a></td>
        </tr>
        <tr>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addRef"
                    class="btn btn-outline-info">Reference</a></td>
            <td> <a type="button" href="http://localhost:1337/cv/<%= cv.id %>/addRef"
                    class="btn btn-outline-warning">Add Reference</a></td>
        </tr>



    </table>
</div>