<div class="container">
        <div class="row justify-content-between">
                <div class="col-4">
                        <h2>View content of each section</h2>
                </div>

        </div>

        <div class="row justify-content-around">
                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Contact</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Contact Information</h6>
                                        <p class="card-text">Add contact information for others contact you.</p>
                                        <a href="http://localhost:1337/cv/updateContact/<%= cv.id %>"
                                                class="card-link">View Contact</a>
                                </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Education</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Education History</h6>
                                        <p class="card-text">Introduce your education experience.</p>
                                        <a href="http://localhost:1337/cv/updateEdu/<%= cv.id %>" class="card-link">View
                                                Education</a>

                                </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Work</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Work History</h6>
                                        <p class="card-text">Introduce your education experience.</p>
                                        <a href="http://localhost:1337/cv/updateWork/<%= cv.id %>"
                                                class="card-link">View
                                                Work</a>

                                </div>
                        </div>
                </div>

                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Skill</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Skills</h6>
                                        <p class="card-text">Introduce what you can do.</p>
                                        <a href="http://localhost:1337/cv/updateSkill/<%= cv.id %>"
                                                class="card-link">View skills</a>

                                </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Activity</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Activity Experience</h6>
                                        <p class="card-text">Introduce what you have done.</p>
                                        <a href="http://localhost:1337/cv/updateActivity/<%= cv.id %>"
                                                class="card-link">View Activity</a>

                                </div>
                        </div>
                </div>
                <div class="col-6">
                        <div class="card">
                                <div class="card-body">
                                        <h3 class="card-title">Reference</h3>
                                        <h6 class="card-subtitle mb-2 text-muted">Recommendation</h6>
                                        <p class="card-text">How do other people evaluate you？</p>
                                        <a href="http://localhost:1337/cv/updateRef/<%= cv.id %>" class="card-link">View
                                                reference</a>

                                </div>
                        </div>
                </div>
        </div>
        <br>
        <form action="/cv/updateTemplate/<%= cv.id %>" method="post">
                <div class="tempalte-area">
                        <label class="label">Choose template</label>
                        <p>Please select a template:</p>
                        <!-- <div class="control">

                                <div class="col-4 col-12-small">
                                        <input type="radio" id="template-dark" name="template" value="template-dark">
                                        <label for="template-dark">Dark</label>
                                        <a target="_blank"
                                                href="http://localhost:1337/cv/dark/<%= cv.id %>">Preview-dark</a>
                                </div>
                        </div> -->
                        <div class="col-4 col-12-small">
                                <input type="radio" id="template-white" name="template" value="template-white">
                                <label for="template-white">White</label>
                                <a target="_blank" href="http://localhost:1337/cv/white/<%= cv.id %>">Preview-white</a>
                        </div>
                        <div class="col-4 col-12-small">
                                <input type="radio" id="template-blue" name="template" value="template-blue">
                                <label for="template-blue">Blue</label>
                                <a target="_blank" href="http://localhost:1337/cv/blue/<%= cv.id %>">Preview-blue</a>
                    
                            </div>

                </div>
              
                                        <div class=" field">
                                        <div class="control">
                                                <button class="button is-link" type="submit">Confirm</button>
                                        </div>
                        </div>

                </div>

        </form>

</div>
<script>
        document.querySelector('input[type="radio"][value="<%= cv.template %>"]').setAttribute('checked', 'checked')
</script>