<form action="/activity/update/<%= activity.id %>" method="post">

    <div class="field">
        <label class="label">Title</label>
        <div class="control">
            <input class="input" type="text" name="title" id="title" value="<%= activity.title%>" required>
        </div>
    </div>

    <div class="field">
        <label class="label">Organization</label>
        <div class="control">
            <input class="input" type="text" name="org" id="org" value="<%= activity.id%>" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Start Time</label>
        <div class="control">
            <input class="input" type="date" name="sTime" id="sTime" value="<%= activity.sTime%>" required>
        </div>
    </div>
    <div class="field">
        <label class="label">End Time</label>
        <div class="control">
            <input class="input" type="date" name="eTime" id="eTime" value="<%= activity.eTime%>" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea class="textarea" placeholder="Please describe the activity" type="text" name="description" rows="5" value="<%= activity.description%>" required></textarea>
          
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link" type="submit">Save</button>
        </div>
    </div>


</form>